body {
    font-family: Arial, sans-serif;
    background-color: darksalmon;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 20px;
    color: aliceblue;
    background-color: gray;
    padding: 10px; 
    border-radius: 5px; 
}

input[type="text"], input[type="number"] {
    padding: 10px;
    width: 300px;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 10px; 
}

button {
    display: flex;
    padding: 10px;
    background-color: gray;
    color: black;
    border: 3px solid black;
    border-radius: 10px;
    margin-inline-end: 2px;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid black; 
    border-radius: 8px;
    margin-top: 20px;
    max-width: 300px;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    max-width: 300px; 
    width: 100%;
}

li {
    background-color: #ffffff; 
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

